<ion-view title="Detalhes do Livro" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="detalhesDoLivro-card22">
            <ion-item class="item-avatar  " id="detalhesDoLivro-list-item9">
                <img src="img/EpQbOuOJQfyXrFPg4GFO_person.jpg">
                <h2>Vladmir</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="detalhesDoLivro-list-item-container2">
                <p id="detalhesDoLivro-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="detalhesDoLivro-list-item8" ui-sref="negociaODoLivro">
                <i class="icon ion-android-bookmark"></i>Quero esse livro!</ion-item>
        </div>
    </ion-content>
</ion-view>