<ion-view title="Detalhes do Livro" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list ng-controller="detalhesDoLivroCtrl">
            <ion-item ng-model="livro">
                <h1>{{livro.title}}</h1>
                <b>Autor:</b> {{livro.author}}<br/>
                <b>ISBN:</b> {{livro.isbn}}
            </ion-item>
        </ion-list>
        <br/>
        
        <button ng-click="like()" class="button icon ion-thumbsup button-balanced"></button>
        <button ng-click="dislike()" class="button icon ion-thumbsdown button-assertive"></button>
    </ion-content>
</ion-view>