<ion-view title="Meus Livros" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="meusLivros-list3" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right  " id="meusLivros-list-item14" ui-sref="livro">
                <h2>Item</h2>
                <i class="icon ion-information-circled"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="meusLivros-list-item16">
                <h2>Item</h2>
                <i class="icon ion-information-circled"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="livro" id="meusLivros-button6" class=" button button-positive  button-block ">Adicionar Livro</a>
    </ion-content>
</ion-view>