<ion-view title="Negociação do Livro" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="mensagens">
            <form id="negociaODoLivro-form2" class="list ">
                <label class="item item-input " id="negociaODoLivro-textarea1">
                    <input ng-model="mensagem" type="text" placeholder="Escreva sua mensagem aqui...">
                </label>
            </form>
        </div>
        <button id="negociaODoLivro-button4"  ng-click="enviar(user, mensagem)" class=" button button-positive  button-block ">Enviar</button>
    </ion-content>
</ion-view>

    function enviarMensagem(user, mensagem){
        var messageRef = ref.child("mensagens");
        messageRef.set({
            chat: {
                
            }
        })

        APP.push({ nomeusuario: usr, mensagem: msg });
 
        $('#mensagem').val('');
    }
        
      
 
    APP.on('child_added', function(snap) {
      var novamensagem = snap.val(); //Nova mensagem recebida.
      carregaMensagem(novamensagem.nomeusuario, novamensagem.mensagem);
    });
 
    function carregaMensagem(nome, mensagem) {
      $('<div/>').text(mensagem)
        .prepend($('<strong/>').text(nome + ': '))
        .appendTo($('#mensagens'));
 
      $('#mensagens')[0].scrollTop = $('#mensagens')[0].scrollHeight;
    };