<ion-view title="Negociação do Livro" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="negociaODoLivro-card23">
            <ion-item class="item-avatar balanced  " id="negociaODoLivro-list-item12">
                <img src="img/N7T5pPMfTGeC9xEHlCm6_person.jpg">
                <h2balanced>Vladmir
                    <p>E ai meu velho, beleza? Quero esse livro</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar positive  " id="negociaODoLivro-list-item10">
                <img src="img/8duNbGTuTWWQuC99KseR_person.jpg">
                <h2positive>Barack
                    <p>Tudo certo, vamos combinar</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="negociaODoLivro-list-item13">
                <img src="img/N7T5pPMfTGeC9xEHlCm6_person.jpg">
                <h2balanced>Vladmir
                    <p>Passo ai e pego amanhã</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-divider " id="negociaODoLivro-list-item-divider2">Mensagem</ion-item>
            <form id="negociaODoLivro-form2" class="list ">
                <label class="item item-input " id="negociaODoLivro-textarea1">
                    <span class="input-label">Texto</span><textarea placeholder=""></textarea>
                </label>
            </form>
        </div>
        <button id="negociaODoLivro-button4" class=" button button-positive  button-block ">Enviar</button>
    </ion-content>
</ion-view>